<html>
    <head>
        
        {% load static %}

    </head>

    <body>
        
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-lower">Gestión de inventario</span>
        </h1>
        
        <!-- Navbar -->
        
        
        <!--Contenido cambiante-->
        
        {% block content %}
        
        {% endblock %}
        
        <!-- Footer -->

        
        <!-- Bootstrap -->
        
    </body>
</html>