{% load static %}

<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'styles/bootstrap/css/bootstrap.min.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Gestión de inventario</span>
</h1>

<!-- Navbar -->


<!--Contenido cambiante-->

{% block content %}

{% endblock %}

<!-- Footer -->


<!-- Bootstrap -->
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
</body>
</html>