{% extends 'inventory/base.html' %}
{% block title %}
    Gestion de inventario
{% endblock %}

{% load static %}

{% block content %}

<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'inventory/img/piezas.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-upper">Inventario</span>
                    <span class="section-heading-upper">Ventas</span>
                </h2>
                <p class="mb-3">hfghfghfghfgh</p>
            </div>
        </div>
    </div>
</section>

    Texto
    <a type="button" href="{% url 'inv:create_product' %}">Crear Producto</a>
    <a type="button" href="{% url 'inv:delete_product' %}">Eliminar Producto</a>
    <a type="button" href="{% url 'inv:update_product' %}">Update Producto</a>
    <a type="button" href="{% url 'inv:list_product' %}">Listar Producto</a>
    <br>
    <a type="button" href="{% url 'inv:create_almacen' %}">Crear Almacen</a>
    <a type="button" href="{% url 'inv:delete_almacen' %}">Eliminar Almacen</a>
    <a type="button" href="{% url 'inv:update_almacen' %}">Update Almacen</a>
    <a type="button" href="{% url 'inv:list_almacen' %}">Listar Almacen</a>

{% endblock %}

