{% extends 'inventory/base.html' %}
{% block title %}
    Inventario de piezas
{% endblock %}

{% block content %}
    Texto
    <a type="button" href="{% url 'inv:create_product' %}">Crear Producto</a>
    <a type="button" href="{% url 'inv:delete_product' %}">Eliminar Producto</a>
    <a type="button" href="{% url 'inv:update_product' %}">Update Producto</a>
    <a type="button" href="{% url 'inv:list_product' %}">Listar Producto</a>
    <br>
    <a type="button" href="{% url 'inv:create_almacen' %}">Crear Almacen</a>
    <a type="button" href="{% url 'inv:delete_almacen' %}">Eliminar Almacen</a>
    <a type="button" href="{% url 'inv:update_almacen' %}">Update Almacen</a>
    <a type="button" href="{% url 'inv:list_almacen' %}">Listar Almacen</a>

{% endblock %}

