{% extends 'inventory/base.html' %}
{% block title %}
Movimiento
{% endblock %}

{% load static %}

{% block content %}
<div class=" row ">
    <div class="col-5 d-flex align-items-center justify-content-center">
        <h1 class="">Movimiento de productos</h1>
    </div>
    <div class="col-5 d-flex align-items-center justify-content-center">
        <div class="container f_back">
            <form id="form-default" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-5">
                        <label for="id_almacen_origen">Almacén de origen</label>
                        {{ form.almacen_origen }}
                    </div>
                    <div class="form-group col-5">
                        <label for="id_almacen_destino">Almacén de destino</label>
                        {{ form.almacen_destino }}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-5">
                        <label for="id_producto">Producto</label>
                        {{ form.producto }}
                    </div>
                    <div class="form-group col-5">
                        <label for="id_cantidad">Cantidad</label>
                        {{ form.cantidad }}
                    </div>
                </div>
                {% if mess == 'err' %}
                Cantidad de producto insuficiente.
                Inserte otra.
                {% endif %}
                {% if mess == 'doubled' %}
                <div class="row">
                    <div class="form-group col-5">
                        Seleccione origen y destino diferentes
                    </div>
                </div>
                {% endif %}
                <div class=" d-flex align-items-center justify-content-center">
                    <div class="form-group col-5">
                        <button id="confirmar" type="submit" class="btn green">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}