{% extends 'inventory/base.html' %}

{% block title %}
Productos por almacén
{% endblock %}

{% block content %}
<div class=" row ">
    <div class="col-5 d-flex align-items-center justify-content-center">
        <h1>Productos del almacén <br>{{ almacen }}</h1>
    </div>

    <div class="col-5 d-flex align-items-center justify-content-center">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  table-striped table-hover f_back" id="dataTable" role="grid"
                    aria-describedby="dataTable_info">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    {% for prod, cant in content.items %}
                    <tr>
                        <td>
                            <a>{{ prod }}</a>
                        </td>
                        <td>
                            <a>{{ cant }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}