.dropdown-menu {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}
.dropdown-item{
  font-weight: 600;
  color: #ffffff;
}
.dropdown-submenu {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
  }
  /*==========Sub Menu=v==========*/
  .mainmenu .collapse ul > li:hover > a{color: rgb(0, 123, 255);}
  .mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav
  .show .dropdown-menu > li > a:hover{color: rgb(0, 123, 255);}
  .show .dropdown-item > li > a:hover{color: rgb(0, 123, 255);}




  #example_info{
    color: rgb(0, 123, 255);
  }
  .custom-imput-file{
    background-color: rgb(0, 123, 255, 0.6);
    color: #ffffff;
    cursor: pointer;
    margin: auto;
    position: relative;
    text-align: center;
    border-radius: 5px ;
  }
  .custom-imput-file .input-file{
    border: #ffffff;
    cursor: pointer;
    margin: auto;
    position:absolute
  }
  .f_back{
    background-color: rgb(0, 123, 255);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px ;
    color: white;
  }
  .dropdown-menu.show{
    background-color: rgb(0, 123, 255);
    font-family:Arial, Helvetica, sans-serif;
    float:right;
  }
  body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(210, 245, 252);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color:white;
  }
  h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(0, 123, 255);
  }
  h2, h3, h4, h5, h6 {
    font-family:Arial, Helvetica, sans-serif;
    color:white;
  }
  p {
    line-height: 1.75;
  }
  a{
    color: rgba(255, 255, 255);
  }
  .letra_azul{
    color: rgb(0, 123, 255);
  }
  .site-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1;
    font-family:Arial, Helvetica, sans-serif;
  }
  .site-heading .site-heading-lower {
    font-size: rem;
    font-weight: 100;
    line-height: 3rem;
  }
  #mainNav {
    background-color: rgba(0, 123, 255) ;
    font-family:Arial, Helvetica, sans-serif;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255);
    font-weight: 600;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(0, 123, 255);
    text-decoration: underline;
    background-color: #ffffff;
  }
  @media (min-width: 992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
      font-size: 0.9rem;
    }
    #mainNav .navbar-nav .nav-item.active .nav-link:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }



  /*
  #mainNav .navbar-nav .nav-item.active .nav-link {
    color: red;
    text-decoration: underline;
  }
  #mainNav .navbar-brand {
    color: #ffffff;
  }
  */
  
  
  .text-faded {
    color: rgba(255, 255, 255, 0.3);
  }
  .footer {
    background-color: rgba(0, 123, 255, 0.8);
  }
  .mbt1{
    padding-top: 1.25rem;
  }
  .page-section {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .intro {
    position: relative;
  }
  @media (min-width: 772px) {
    .intro .intro-img {
      width: 50%;
      float:left;
    }
  }
  .intro .intro-text {
    left: 500;
    margin-top: 5rem;
    background-color: rgba(0, 123, 255);
    color: rgb(255, 255, 255);
    position: absolute;
  }
  .bg-faded {
    background-color: rgba(0, 123, 255);
  }
  .section-heading {
    text-transform: uppercase;
  }
  .section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom:.5rem;
  }
  .btn {
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.6);
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 123, 255);;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .btn-secondary {
    background-color: rgb(0, 123, 255);
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.6);
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }