{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Crear almacén
{% endblock %}

{% block content %}
    <div class=" row ">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <h1 class="">Agregar almacén</h1>
        </div>

        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="container f_back">
                <form id="form-default" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="fecha">Nombre</label>
                            {{ form.nombre }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-8">
                            <label for="precio-costo">Tipo de almacén</label>
                            {{ form.es_central }}
                        </div>
                    </div>
                    <div class="form-actions right">
                        <button class="btn btn-success" form="form-default" type="submit">Agregar</button>
                    </div>
                    
                </form>
                
            </div>
        </div>
    </div>



{% endblock %}