{% extends 'inventory/base.html' %}
{% block title %}
    Eliminación de almacén
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <h1>Eliminar almacén</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <form method="post">{% csrf_token %}
            <p>Seguro desea eliminar "{{ object }}"?</p>
            <input class="btn btn-danger" type="submit" value="Aceptar">
            <a class="btn btn-info" href="{% url 'inv:list_almacen' %}">Cancelar</a>
        </form>
    </div>
{% endblock %}
