{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Actualizar almacén
{% endblock %}

{% block content %}
    <div class=" row ">
        <div class="col-6 d-flex align-items-center justify-content-center">
            <h1>Actualizar almacén</h1>
        </div>
        <div class="col-3 d-flex align-items-center justify-content-center">
            <div class="container">
                <form id="form-default" method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <button class="btn btn-success" form="form-default" type="submit">Modificar</button>
                <a class="btn btn-danger" href="{% url 'inv:delete_almacen' object.pk %}">Eliminar</a>

            </div>
        </div>
    </div>
{% endblock %}